*{
    padding: 0;
    margin: 0;
    color: black;
}
#navbar{
    height: 50px;
    background-color: aqua;
}
button{
    background-color: yellow;
}
a{
    display: inline-block;
    margin-right: 520px;
}#logo{
    color: rgb(93, 93, 17);
    font-size: xx-large;
}